<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container is-header">
            <button class="menu-btn" onclick="menulistAction()">
                <img src="./images/three-dots.svg" alt="menu">
            </button>            
        </div>
    </header>
    <main>
        <div id="menu-list" style="display: none">
            <div class="container is-list">
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/home.svg" alt="Home">
                            <span>Главная</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/task.svg" alt="Task">
                            <span>Задачи</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/employees.svg" alt="Employees">
                            <span>Сотрудники</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/kodecs.svg" alt="Kodecs">
                            <span>Правила</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/signup.svg" alt="Signup">
                            <span>Регистрация</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/login.svg" alt="Login">
                            <span>Вход</span>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__link">
                            <img src="./images/logout.svg" alt="Logout">
                            <span>Выход</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="employees">
            <div class="container">
                <h2 class="title">Сотрудники</h2>
                <div class="employees-list">
                    <div class="employee-card">
                        <div class="person">
                            <img src="./images/profile-photo.png" alt="employee">
                            <div class="who">
                                <p>Намет Алина</p>
                                <p>руководитель отделения</p>
                            </div>
                        </div>
                        <div class="person-info">
                            <div class="ranking">
                                <img src="./images/ranking.svg" alt="ranking">
                                <p>1</p>
                            </div>
                            <div class="num-tasks">
                                <img src="./images/card-checklist.svg" alt="checklist">
                                <p>500</p>
                            </div>
                            <div class="experience">
                                <img src="./images/person-lines.svg" alt="experiencs">
                                <p>7 лет</p>
                            </div>
                        </div>

                    </div>
                    <div class="employee-card">
                        <div class="person">
                            <img src="./images/profile-photo.png" alt="employee">
                            <div class="who">
                                <p>Намет Алина</p>
                                <p>руководитель отделения</p>
                            </div>
                        </div>
                        <div class="person-info">
                            <div class="ranking">
                                <img src="./images/ranking.svg" alt="ranking">
                                <p>1</p>
                            </div>
                            <div class="num-tasks">
                                <img src="./images/card-checklist.svg" alt="checklist">
                                <p>500</p>
                            </div>
                            <div class="experience">
                                <img src="./images/person-lines.svg" alt="experiencs">
                                <p>7 лет</p>
                            </div>
                        </div>
                    </div>
                    <div class="employee-card">
                        <div class="person">
                            <img src="./images/profile-photo.png" alt="employee">
                            <div class="who">
                                <p>Намет Алина</p>
                                <p>руководитель отделения</p>
                            </div>
                        </div>
                        <div class="person-info">
                            <div class="ranking">
                                <img src="./images/ranking.svg" alt="ranking">
                                <p>1</p>
                            </div>
                            <div class="num-tasks">
                                <img src="./images/card-checklist.svg" alt="checklist">
                                <p>500</p>
                            </div>
                            <div class="experience">
                                <img src="./images/person-lines.svg" alt="experiencs">
                                <p>7 лет</p>
                            </div>
                        </div>
                    </div>
                    <div class="employee-card">
                        <div class="person">
                            <img src="./images/profile-photo.png" alt="employee">
                            <div class="who">
                                <p>Намет Алина</p>
                                <p>руководитель отделения</p>
                            </div>
                        </div>
                        <div class="person-info">
                            <div class="ranking">
                                <img src="./images/ranking.svg" alt="ranking">
                                <p>1</p>
                            </div>
                            <div class="num-tasks">
                                <img src="./images/card-checklist.svg" alt="checklist">
                                <p>500</p>
                            </div>
                            <div class="experience">
                                <img src="./images/person-lines.svg" alt="experiencs">
                                <p>7 лет</p>
                            </div>
                        </div>
                    </div>
                    <div class="employee-card">
                        <div class="person">
                            <img src="./images/profile-photo.png" alt="employee">
                            <div class="who">
                                <p>Намет Алина</p>
                                <p>руководитель отделения</p>
                            </div>
                        </div>
                        <div class="person-info">
                            <div class="ranking">
                                <img src="./images/ranking.svg" alt="ranking">
                                <p>1</p>
                            </div>
                            <div class="num-tasks">
                                <img src="./images/card-checklist.svg" alt="checklist">
                                <p>500</p>
                            </div>
                            <div class="experience">
                                <img src="./images/person-lines.svg" alt="experiencs">
                                <p>7 лет</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employee-card is-me">
                <div class="person">
                    <img src="./images/profile-photo.png" alt="employee">
                    <div class="who">
                        <p>My Name</p>
                        <p>My job position</p>
                    </div>
                </div>
                <div class="person-info">
                    <div class="ranking">
                        <img src="./images/ranking.svg" alt="ranking">
                        <p>#</p>
                    </div>
                    <div class="num-tasks">
                        <img src="./images/card-checklist.svg" alt="checklist">
                        <p>0</p>
                    </div>
                    <div class="experience">
                        <img src="./images/person-lines.svg" alt="experiencs">
                        <p>0</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="./js/script.js"></script>
</body>
</html>